/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}


a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}


@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
    url('../font/opensans.woff2') format('woff2'),
    url('../font/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../font/opensansitalic.woff2') format('woff2'),
    url('../font/opensansitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../font/opensanssemibold.woff2') format('woff2'),
    url('../font/opensanssemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../font/opensansbold.woff2') format('woff2'),
    url('../font/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* glob
  =======================================*/
#is-service-frame {
  display: none;
}


h2 {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
}

section {
<<<<<<< HEAD
=======
  margin-bottom: 80px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  scroll-behavior: smooth;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

<<<<<<< HEAD
.transfer {
  display: none;
}

=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e

:root {
  --swiper-theme-color: #666;
  --text-color: #333333;
  --objects-color: #9D5CD0;
  --white-color: #fff;
  --border-color: #D1A9F0;
  --pink-color: #7943A4;
  --pink-white-color: #C283F3;
  --grey-color: #999999;
  --dark-white-color: #CACACA;
  --black-color: #000000;
}

.container {
  max-width: 1650px;
  min-width: 500px;
  margin: 0 auto;
  padding: 0 25px;
}


/* header
================== */
.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  background: var(--black-color);
  z-index: 5;
}

.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  width: 1106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.header__search-container {
  display: none;
}

/* bureger */
.burger {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 768px;
  padding-top: 39px;
  padding-left: 50px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.burger.burger-nav {
  -webkit-transform: none;
          transform: none;
}

.burger__exit {
  margin-bottom: 40px;
}

.burger__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}



.burger__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 64px;
  color: var(--white-color);
}

/* =============== */

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.nav__link:focus-visible {
  outline: none;
  outline: 8px solid var(--pink-color);
  outline-offset: -1px;
  background: var(--pink-color);
}

<<<<<<< HEAD
.nav__link:hover:not(:focus-visible) {
=======
.nav__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-white-color);
}

.nav__link:active {
  color: var(--pink-color);
}


.header__block {
  display: none;
}

.header__search-open {
  display: none;
  -webkit-transition: display 0.3s linear;
  transition: display 0.3s linear;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100px;
}

.header__enter {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__icon path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}


.header__enter:focus-visible {
  outline: none;
  outline: 8px solid var(--pink-color);
  outline-offset: -1px;
  background: var(--pink-color);
}

<<<<<<< HEAD
.header__enter:hover:not(:focus-visible) {
=======
.header__enter:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-white-color);
}

.header__enter:active {
  color: var(--pink-color);
}



/* burger */

.header__burger {
  display: none;
}

/* menu */

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.menu__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 96px;
}

.menu__btn {
  border: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.menu__btn:focus-visible {
  outline: none;
  outline: 8px solid var(--pink-color);
  outline-offset: -1px;
  background: var(--pink-color);
}


<<<<<<< HEAD
.menu__btn:hover:not(:focus-visible) {
=======
.menu__btn:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-color);
}


<<<<<<< HEAD
.menu__btn:hover:not(:focus-visible) path {
=======
.menu__btn:hover path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  stroke: var(--pink-color);
}


.menu__btn:active {
  color: var(--pink-color);
}

.menu__btn path {
  -webkit-transition: stroke 0.3s linear, -webkit-transform 0.3s linear;
  transition: stroke 0.3s linear, -webkit-transform 0.3s linear;
  transition: stroke 0.3s linear, transform 0.3s linear;
  transition: stroke 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
}

.menu__btn:active path {
  stroke: var(--pink-color);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1)
}

.dropdown {
  position: absolute;
  left: 0;
  top: 47px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear, visibility 0.3s linear;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.simplebar-content-wrapper {
  overflow: auto;
}
/*  */

.dropdown__list {
  width: 300px;
  max-height: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.6);
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
/*  */

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__item {
  position: relative;
}

.simplebar-content {
  max-height: 280px;
}
/*  */

.dropdown__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 100%;
  padding-left: 14px;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: center center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white-color);
  -webkit-transition: outline 0.3s linear, border-color 0.3s linear;
  transition: outline 0.3s linear, border-color 0.3s linear;
}


.dropdown__link:focus-visible {
<<<<<<< HEAD
  outline: none;
  border-color: var(--objects-color);
}

.dropdown__link:hover:not(:focus-visible) {
=======
  border-color: var(--objects-color);
}

.dropdown__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  border-color: var(--objects-color);
}

.dropdown__link:active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 220px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4))), url(.jpg);
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  border-color: var(--border-color);
}

/* 1 */
.dropdown__img1 {
  background-image: url('../img/dropdown-1.jpg');
}

.dropdown__img2 {
  background-image: url('../img/dropdown-2.jpg');
}

.dropdown__img3 {
  background-image: url('../img/dropdown-3.jpg');
}

.dropdown__img4 {
  background-image: url('../img/dropdown-4.jpg');
}

/* 2 */
.dropdown__img1-1 {
  background-image: url('../img/dropdown-11.jpg');
}

.dropdown__img2-1 {
  background-image: url('../img/dropdown-12.jpg');
}

.dropdown__img3-1 {
  background-image: url('../img/dropdown-13.jpg');
}

.dropdown__img4-1 {
  background-image: url('../img/dropdown-14.jpg');
}

/* 3 */
.dropdown__img1-2 {
  background-image: url('../img/dropdown-21.jpg');
}

.dropdown__img2-2 {
  background-image: url('../img/dropdown-22.jpg');
}

.dropdown__img3-2 {
  background-image: url('../img/dropdown-23.jpg');
}

.dropdown__img4-2 {
  background-image: url('../img/dropdown-24.jpg');
}

/* 4 */
.dropdown__img1-3 {
  background-image: url('../img/dropdown-31.jpg');
}

.dropdown__img2-3 {
  background-image: url('../img/dropdown-32.jpg');
}

.dropdown__img3-3 {
  background-image: url('../img/dropdown-33.jpg');
}

.dropdown__img4-3 {
  background-image: url('../img/dropdown-34.jpg');
}


/* 5 */
.dropdown__img1-4 {
  background-image: url('../img/dropdown-41.jpg');
}

.dropdown__img2-4 {
  background-image: url('../img/dropdown-42.jpg');
}

.dropdown__img3-4 {
  background-image: url('../img/dropdown-43.jpg');
}

.dropdown__img4-4 {
  background-image: url('../img/dropdown-44.jpg');
}

/* scroll */

.simplebar-scrollbar::before {
  background-color: var(--white-color);
  border-radius: 0px;
  width: 2px;
  left: 0px;
  right: 0px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track {
  width: 2px !important;
  height: 220px;
  right: 19px;
  bottom: 40px;
  opacity: 1;
  background: var(--black-color);
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  width: 0px;
}

/* search */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.search__btn {
  margin-right: 9px;
}

.search__input {
  padding-left: 0;
  padding-bottom: 3px;
  width: 218px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--white-color);
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  -webkit-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
}


<<<<<<< HEAD
.search__input:hover:not(:focus-visible) {
=======
.search__input:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  border-bottom: 1px solid var(--pink-white-color);
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid var(--pink-white-color);
}


.search__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}


.search__input::-moz-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}


.search__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}


.search__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}


.search__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
}



/* hero
================== */
.hero {
  position: relative;
  width: 100%;
}

.hero__swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  background-color: #363636;
}


.hero__swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero__swiper-background-1 {
  background-image: url('../img/hero-swiper1.jpg');
}

.hero__swiper-background-2 {
  background-image: url('../img/hero-swiper2.jpg');
}

.hero__swiper-background-3 {
  background-image: url('../img/hero-swiper3.jpg');
}

.hero__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 141px;
  padding-bottom: 122px;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  justify-items: flex-start;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 597px;
}

.hero__title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 72px;
  line-height: 92px;
  color: var(--white-color);
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-color);
}

.hero__link {
<<<<<<< HEAD
  align-self: flex-start;
  padding: 20px 35px;
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 314px;
  height: 70px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  background: var(--objects-color);
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white-color);
  outline: 3px solid transparent;
  -webkit-transition: outline 0.2s linear, outline-color 0.2s linear;
  transition: outline 0.2s linear, outline-color 0.2s linear;
}

.hero__link:focus-visible {
  outline: 2px solid var(--pink-white-color);
  outline-offset: 5px;
}

<<<<<<< HEAD
.hero__link:hover:not(:focus-visible) {
=======
.hero__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  outline-color: var(--border-color);
}

.hero__link:active {
  background: var(--pink-color);
  outline-color: var(--border-color);
}

/* about */

.about {
<<<<<<< HEAD
  padding-top: 80px;
  padding-bottom: 70px;
=======
  margin-bottom: 70px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
}

.about__container {
  width: 100%;
}

.about__title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--text-color);
}

.about__text {
  max-width: 1080px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

/* gallery
===================== */

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 595px;
  padding: 80px 0;
  background-image: url('../img/gallery.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--white-color);
}

/* select */
.select__title {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: var(--white-color);
}

.gallery__content {
  width: 100%;
  min-height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__select {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* choices */

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  height: 40px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.choices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

<<<<<<< HEAD
.choices:hover:not(:focus-visible) {
=======
.choices:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  background: rgba(255, 255, 255, 0.2);
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0px;
  border: none;
}

.choices__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
  max-width: 400px;
  height: 40px !important;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 16px;
  font-size: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color)FFF;
  overflow: hidden;
}

.choices__inner:focus-visible {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list .choices__list--single {
  opacity: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(0, 0, 0, 0);
}

.is-selected {
  display: none;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  max-width: 400px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--grey-color);
  top: 100%;
  margin-top: 0;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 6px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.choices[data-type*="select-one"]::after {
  content: "";
  height: 7px;
  width: 12px;
  background-image: url('../img/choices.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  position: absolute;
  right: 11.5px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
  z-index: 10;
  border: none;
  background-image: url('../img/choices.svg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  margin-top: -2.5px;
}

.choices__item {
  height: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: var(--white-color);
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid var(--grey-color);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  position: relative;
  padding: 0 16px;
  font-size: 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}



/* checkbox */

.checkbox__content {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

<<<<<<< HEAD
.checkbox__content:hover:not(:focus-visible) {
=======
.checkbox__content:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-white-color);
}

.checkbox__content:active {
  color: var(--pink-white-color);
}

.checkbox__content {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
}

.check {
  display: none;
}

.check+span {
  position: absolute;
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-color);
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}


<<<<<<< HEAD
.check:hover:not(:focus-visible)+span {
=======
.check:hover+span {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  border: 1px solid var(--pink-white-color);
}


.check+span::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opasity 0.2s ease-in-out;
  transition: opasity 0.2s ease-in-out;
}

.check:checked+span::before {
  opacity: 1;
}


/* gallery__slider */
.gallery__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  padding-top: 15px;
=======
  margin-top: 15px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  z-index: 2;
  width: 72%;
  min-height: 410px;
}

.gallery__swiper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery__swiper-wrapper {
  max-height: 350px;
}


.gallery__swiper-slide {
  height: 100%;
}


.gallery__swiper-btn::before {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  outline-offset: -2px;
  outline: 2px solid var(--border-color);
}

.gallery__swiper-btn {
  position: relative;
  width: 100%;
  height: 100%;
}


.gallery__swiper-btn:focus-visible {
  outline: 3px solid var(--pink-color);
  outline-offset: -3px;
}

<<<<<<< HEAD
.gallery__swiper-slide:hover:not(:focus-visible) .gallery__swiper-btn::after {
=======
.gallery__swiper-slide:hover .gallery__swiper-btn::after {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.gallery__swiper-slide:active .gallery__swiper-btn::before {
  opacity: 1;
}

.gallery__swiper-btn::after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 25px;
  bottom: 25px;
  right: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/zoom.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery__swiper-slide-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  top: 10px;
  left: 45px;
  width: 47px;
  height: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--white-color)FFF;
  z-index: 50000;
}

.gallery__swiper-button-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
  left: 104px;
  top: 31px;
  width: 30px;
  height: 30px;
}

.gallery__swiper-button-prev {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
  left: 4px;
  top: 31px;
  width: 30px;
  height: 30px;
}

.gallery__swiper-button-hover path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.gallery__swiper-button-hover:focus-visible {
  outline: none;
  border: 2px solid var(--black-color);
  border-radius: 100%;
}

<<<<<<< HEAD
.gallery__swiper-button-hover:hover:not(:focus-visible) path {
=======
.gallery__swiper-button-hover:hover path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--objects-color);
}

.gallery__swiper-button-hover:active {
  border: 2px solid var(--black-color);
  border-radius: 100%;
}

/* MODAL WINDOW*/

.modal {
  position: fixed;
  z-index: 201;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.modal.modal__block--active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.modal__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 900px;
  max-height: 500px;
  height: 93vh;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  color: var(--text-color);
}

.modal__image {
  width: 44.5%;
}

.modal__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.modal__description-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.modal__close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 14px;
  top: 18px;
  background-color: transparent;
  border: 2px solid transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__close-btn svg path {
  -webkit-transition: fill .4s ease;
  transition: fill .4s ease;
}

.modal__close-btn:focus-visible svg path {
<<<<<<< HEAD
  outline: none;
  fill: var(--objects-color);
}

.modal__close-btn:hover:not(:focus-visible) svg path {
=======
  fill: var(--objects-color);
}

.modal__close-btn:hover svg path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--pink-color);
}

.modal__close-btn:active svg path {
  fill: var(--pink-color);
}

.modal__date {
  margin-bottom: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal__artist {
<<<<<<< HEAD
  margin: 0;
  margin-bottom: 10px;
=======
  margin-top: 10px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal__title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.modal__body-block--active {
  overflow: hidden;
}

/* catalog */

<<<<<<< HEAD
.catalog {
  padding-top: 80px;
}

.catalog__title {
  margin: 0;
=======
.catalog__title {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  margin-bottom: 16px;
}

.catalog__text {
  max-width: 1080px;
  margin: 0;
  margin-bottom: 39px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.catalog__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__artist {
  display: none;
  max-width: 750px;
  margin-right: 50px;
}

.catalog__artist-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 50px;
}

.artist__img {
  margin-bottom: 26px;
}

.artist__img-unknown {
  width: 100%;
  margin-bottom: 26px;
}

.artist__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}


.artist__title-unknown {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.artist__data {
  display: block;
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-color);
}

.artist__text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.artist__text-unknown {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.artist__link-unknown {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--objects-color);
}

/* accordion */

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
<<<<<<< HEAD
  padding-top: 2px;
=======
  margin-top: 2px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
}

.accordion__list {
  width: 100%;
}


.ui-accordion .ui-accordion-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  border: 0;
  border-top: 1px solid var(--dark-white-color);
  border-bottom: 1px solid var(--dark-white-color);
  border-radius: 0;
  background: none;
  margin: 0;
  margin-top: -1px;
  padding: 32px 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
}

.ui-accordion .ui-accordion-header:first-child {
  border-top: 1px solid var(--dark-white-color);
}

<<<<<<< HEAD
.ui-accordion .ui-accordion-header:first-child:hover:not(:focus-visible) {
=======
.ui-accordion .ui-accordion-header:first-child:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  border-top: 1px solid var(--pink-color);
}

.ui-accordion .ui-accordion-header-active:first-child {
  z-index: 99;
  border-top: 1px solid var(--pink-color);
}

.accordion__icon path {
  -webkit-transition: fill .3s ease-in-out,
    stroke .3s ease-in-out;
  transition: fill .3s ease-in-out,
    stroke .3s ease-in-out;
}

<<<<<<< HEAD
.ui-accordion .ui-accordion-header:hover:not(:focus-visible) {
=======
.ui-accordion .ui-accordion-header:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  border-top: 1px solid var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
}

<<<<<<< HEAD
.ui-accordion-header:hover:not(:focus-visible) {
=======
.ui-accordion-header:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-color);
}

.ui-accordion-header:active {
  color: var(--pink-color);
  border-top: 1px solid var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
}

.ui-accordion-header:focus-visible {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--objects-color);
  border-top: 1px solid var(--objects-color);
  border-bottom: 1px solid var(--objects-color);
}

.accordion__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  width: 50px;
  outline: none;
  outline-offset: -1px;
  border-radius: 100%;
}

.ui-accordion-header:focus-visible .accordion__icon path {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--border-color);
}


.ui-accordion-header:active .accordion__icon path {
  stroke: var(--objects-color);
}

<<<<<<< HEAD
.ui-accordion .ui-accordion-header:hover:not(:focus-visible) .accordion__icon path {
=======
.ui-accordion .ui-accordion-header:hover .accordion__icon path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--border-color);
}

.ui-accordion .ui-accordion-header-active .accordion__icon {
  outline: 2px solid var(--objects-color);
}

.ui-accordion .ui-accordion-header-active .accordion__icon path {
  fill: var(--border-color);
}

.ui-state-active .icon-arrow {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.ui-widget {
  font-family: Open Sans;
}

.accordion__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 100%;
  z-index: -3;
}

.accordion__item {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  columns: 3;
  -moz-columns: 3;
  -webkit-columns: 3;
  min-width: 100%;
  padding-right: 72px;
}

.accordion__hide {
  visibility: hidden;
}

.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__img {
  display: block;
  margin-right: 24px;
}

.accordion__gallery-title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

.accordion__text {
  margin: 0;
  margin-bottom: 5px;
  max-width: 275px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color);
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Open Sans";
  font-size: 16px;
}

.accordion__link {
  font-family: "Open Sans";
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--objects-color) !important;
}

.ui-widget-content .catalog__accordion-inside-link {
  color: var(--objects-color);
}

.ui-widget-content .accordion__btn {
  color: var(--text-color);
}

.ui-accordion .ui-accordion-content {
  border-left: none;
  border-right: none;
}

.ui-accordion-content-active {
  padding-left: 0;
}

.ui-accordion .ui-accordion-header-collapsed {
  position: relative;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--dark-white-color);
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.ui-accordion .ui-accordion-header-collapsed:active:not(:focus-visible) {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  z-index: 20;
  border-top: 1px solid var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
  color: var(--pink-color);
}

.ui-accordion .ui-accordion-header-collapsed::before {
  content: "";
  position: absolute;
  width: 220px;
  top: 40px;
  bottom: 40px;
  left: -5px;
  right: 570px;
  background-color: var(--objects-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.ui-accordion .ui-accordion-header-collapsed:focus-visible:before {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  opacity: 1;
}

.ui-accordion .ui-accordion-header-collapsed:focus-visible {
  outline: none;
  z-index: 20;
  border-top: 1px solid var(--dark-white-color);
  border-bottom: 1px solid var(--dark-white-color);
  color: var(--white-color);
}

.ui-accordion .ui-accordion-header-collapsed:active:not(:focus-visible) {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-color);
}

.ui-accordion .ui-accordion-header-active {
  z-index: 11;
  border-top: 1px solid var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
  color: var(--pink-color);
}

.ui-accordion .ui-accordion-header-active:active {
  z-index: 10;
  border-top: 1px solid var(--pink-color);
  color: var(--pink-color);
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

<<<<<<< HEAD
.accordion__title {
  width: 100%;
}

=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
.accordion__btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding-left: 0;
  padding-right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  background-color: transparent;
  border: none;
  text-align: start;
  border-bottom: 1px solid transparent;
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.accordion__btn::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -8px;
  max-width: 110%;
  background-color: var(--objects-color);
  z-index: -1;
  opacity: 0;
  color: var(--white-color);
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.accordion__btn:focus-visible {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--white-color);
}

.accordion__btn:focus-visible::before {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  opacity: 1;
}

.accordion__btn:active:not(:focus-visible) {
<<<<<<< HEAD
  outline: none;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-color);
  border-bottom: 1px solid transparent;
}

.accordion__btn:focus-visible {
  outline: none;
}

<<<<<<< HEAD
.accordion__btn:hover:not(:focus-visible) {
=======
.accordion__btn:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--objects-color);
  border-bottom: 1px solid var(--objects-color);
}

.ui-widget-content .catalog__tabs--active-color {
  color: var(--objects-color);
  border-bottom: 1px solid var(--objects-color);
}

/* events */

<<<<<<< HEAD
.events {
  padding-top: 80px;
}

.events__title {
  margin: 0;
=======
.events__title {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  margin-bottom: 16px;
}

.events__block {
  position: relative;
}

.events__swiper-slide {
  position: relative;
  max-width: 500px;
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  outline: 1px solid var(--dark-white-color);
  outline-offset: -1px;
}

.events__swiper-button-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
  right: -25px;
  top: 49.5%;
  width: 50px;
  height: 50px;

}

.events__swiper-button-prev {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
  left: -25px;
  top: 49.5%;
  width: 50px;
  height: 50px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.events__swiper-pagination-container {
  display: none;
}

.events__swiper-button-next.swiper-button-disabled,
.events__swiper-button-prev.swiper-button-disabled {
  opacity: .0;
  cursor: auto;
  pointer-events: none;
}

.light-swiper-button:focus-visible {
  outline: none;
  border: 2px solid var(--objects-color);
  border-radius: 100%;
}

.light-swiper-button path {
  -webkit-transition: fill .4s linear;
  transition: fill .4s linear;
}


<<<<<<< HEAD
.light-swiper-button:hover:not(:focus-visible) path {
=======
.light-swiper-button:hover path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--border-color);
}


.light-swiper-button:active {
  border: 2px solid var(--objects-color);
  border-radius: 100%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
  border: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: '';
  border: none;
}

.events__image {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.events__img {
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.events__name {
  max-width: 195px;
  padding-left: 50px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-color);
}

.events__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-height: 300px;
  padding: 0 50px;
  padding-bottom: 42px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
<<<<<<< HEAD
=======
  padding-top: 10px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}

.card__text {
  margin: 0;
<<<<<<< HEAD
  padding-top: 6px;
=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.events__link {
  display: block;
<<<<<<< HEAD
  align-self: flex-start;
=======
  width: 87px;
  height: 28px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--objects-color);
  border-bottom: 1px solid var(--objects-color);
  -webkit-transition: color 0.3s linear, border-bottom 0.3s linear;
  transition: color 0.3s linear, border-bottom 0.3s linear;
}

<<<<<<< HEAD
.events__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
.events__link:focus-visible {
  outline: none;
  background: var(--objects-color);
  outline: 5px solid var(--objects-color);
  outline-offset: -1px;
  border-bottom: 2px solid var(--white-color);
  color: var(--white-color);
}

<<<<<<< HEAD
.events__link:hover:not(:focus-visible) {
=======
.events__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
}

.events__link:active {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

/* project */

.project {
<<<<<<< HEAD
  padding-top: 80px;
  padding-bottom: 75px;
=======
  margin-bottom: 75px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
}

.project__title {
  margin: 0;
  margin-bottom: 16px;
}

.project__text {
  margin: 0;
  margin-bottom: 20px;
  max-width: 1060px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.tooltip__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 16px;
  height: 16px;
}


.tooltip__btn svg {
  width: 100%;
  height: 100%;
}

.tooltip__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--white-color)FFF;
}

.tooltip__block {
  display: inline-block;
  position: relative;
}

.tooltip__block .tooltip__text {
  position: absolute;
  left: 50%;
  bottom: calc(100% + 8px);
  min-width: 264px;
  background: var(--objects-color);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 9px;
  color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}


.tooltip__block .tooltip__text::after {
  content: '';
  position: absolute;
  left: 46%;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 12px solid var(--objects-color);
}


<<<<<<< HEAD
.tooltip__block .tooltip__btn:hover:not(:focus-visible)+.tooltip__text,
=======
.tooltip__block .tooltip__btn:hover+.tooltip__text,
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
.tooltip__block .tooltip__btn:focus+.tooltip__text {
  opacity: 1;
  visibility: visible;
}

.tooltip__block .tooltip__btn .project__icon {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}


.tooltip__block .tooltip__btn:focus-visible .project__icon {
  fill: var(--objects-color);
  outline: none;
}

<<<<<<< HEAD
.tooltip__block .tooltip__btn:hover:not(:focus-visible) .project__icon {
=======
.tooltip__block .tooltip__btn:hover .project__icon {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--border-color);
}

.tooltip__block .tooltip__btn:active .project__icon {
  fill: var(--objects-color);
  visibility: visible;
}


.project__link {
  color: var(--objects-color);
  -webkit-transition: color 0.3s linear, border-bottom 0.3s linear;
  transition: color 0.3s linear, border-bottom 0.3s linear;
}

.project__link::after {
  content: "blanchard-art.ru/projects";
}

.project__link:focus-visible {
  outline: none;
  padding: 2px;
  background: var(--objects-color);
  color: var(--white-color);
}

<<<<<<< HEAD
.project__link:hover:not(:focus-visible) {
=======
.project__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  color: var(--objects-color);
  border-bottom: 1px solid var(--objects-color);
}

.project__link:active {
  color: var(--pink-color);
  border-bottom: 1px solid var(--pink-color);
}

.project__title-swiper {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

/* project__swiper */

.project__block {
  position: relative;
}

.project__swiper {
  margin-left: 74px;
  margin-right: 74px;
  height: 155px;
  width: auto;
}

.project__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 150px;
  outline: 1px solid var(--dark-white-color);
  outline-offset: -1px;
}

.project__swiper-button-next {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 52%;
  width: 30px;
  height: 30px;
}

.project__swiper-button-prev {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 52%;
  width: 30px;
  height: 30px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.project__swiper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

<<<<<<< HEAD
.project__swiper-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
.project__swiper-img {
  width: 80%;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .3;
  -webkit-transition: opacity .4s ease-in-out, -webkit-filter .4s ease-in-out;
  transition: opacity .4s ease-in-out, -webkit-filter .4s ease-in-out;
  transition: opacity .4s ease-in-out, filter .4s ease-in-out;
  transition: opacity .4s ease-in-out, filter .4s ease-in-out, -webkit-filter .4s ease-in-out;
}

.project__swiper-link:focus-visible {
  outline: 1px solid var(--objects-color);
}

<<<<<<< HEAD
.project__swiper-link:hover:not(:focus-visible) .project__swiper-img {
=======
.project__swiper-link:hover .project__swiper-img {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.project__swiper-slide:active {
  outline: 1px solid var(--objects-color);
}

/* contacts */

.contacts {
  margin: 0;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 155px;
  border: 1px solid var(--dark-white-color);
  padding: 30px 0;
}

.contacts__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 909px;
}

.form__block {
  position: relative;
}

.form__input {
  min-width: 270px;
  height: 50px;
  padding: 12px 23px 10px 23px;
  margin-right: 20px;
  border: 1px solid var(--text-color);
  border-radius: 100px;
}

.form__input:focus-visible {
  outline: none;
  background: #EAEAEA;
}

<<<<<<< HEAD
.form__input:hover:not(:focus-visible) {
=======
.form__input:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  background: #EAEAEA;
}

.js-validate-error-label {
  position: absolute;
  left: 10%;
  top: -25px;

}

.form__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.form__input::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.form__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.form__input::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.form__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-color);
}

.form__btn {
<<<<<<< HEAD
=======
  min-width: 329px;
  height: 50px;
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  padding: 9px 33px;
  border: 2px solid var(--objects-color);
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  color: var(--objects-color);
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.form__btn::after {
  content: "Заказать обратный звонок";
}

.form__btn:focus-visible {
  outline: 2px solid var(--pink-white-color);
  outline-offset: 2px;
}

<<<<<<< HEAD
.form__btn:hover:not(:focus-visible) {
=======
.form__btn:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  background-color: var(--objects-color);
  color: var(--white-color);
}

.form__btn:active {
  background: var(--pink-color);
  color: var(--white-color);
  outline: 3px solid var(--border-color);
}

.contacts__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

.contacts__socials {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-color);
}

.contacts__location {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.contacts__link:focus-visible {
  outline: none;
  opacity: 0.5;
}

<<<<<<< HEAD
.contacts__link:hover:not(:focus-visible) {
=======
.contacts__link:hover {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  opacity: 0.5;
}

.contacts__link:active {
  outline: none;
  border: 1px solid #9643A4;
  border-radius: 100%;
}

/* map */

.map {
  height: 700px;
}

[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/* footer */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
  background: var(--black-color);
}

.footer__cotainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link path {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.footer__link:focus-visible {
  outline: none;
}

.footer__link:focus-visible path {
  outline: none;
  fill: var(--white-color);
}

<<<<<<< HEAD
.footer__link:hover:not(:focus-visible) path {
=======
.footer__link:hover path {
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
  fill: var(--white-color);
}

.footer__link:active path {
  fill: var(--objects-color);
}
<<<<<<< HEAD

=======
>>>>>>> a355f45d7a0ba965744cfea885cf37abe87b3d9e
